@font-face {
  font-family: "Avenir Next Cyr";
  src: url("AvenirNextCyr-Regular.eot");
  src:
    local("Avenir Next Cyr Regular"),
    local("AvenirNextCyr-Regular"),
    url("AvenirNextCyr-Regular.eot?#iefix") format("embedded-opentype"),
    url("AvenirNextCyr-Regular.woff") format("woff"),
    url("AvenirNextCyr-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
