@import "./planet.css";
@import "./MainPage/main-section.css";
@import "./MainPage/beta-test-section.css";
@import "./ClientArea/client-area.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  #root {
    @apply bg-[#171719] w-full h-[100vh] text-white overflow-x-hidden;
    font-family: "Bebas Neue", sans-serif;
  }

  section {
    @apply pt-14 pb-14;
  }

  main, header {
    @apply pl-14 pr-14
  }

  h1 {
    @apply tracking-wide;
  }
}

@layer components {
  .header-main-page {
    @apply flex justify-between items-center pt-6 pb-6;
  }

  .font-avenir {
    font-family: "Avenir Next Cyr", sans-serif;
    @apply tracking-wide;
  }

  .navbar-wallet {
    @apply font-[700] text-[#E75626] text-[1.15rem];
  }

  .text-stroke {
    -webkit-text-stroke: 1px white;
    @apply font-[500];
  }
}
